<main class="items">
  <table>
    <tr class="table-header">
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Category</th>
    </tr>
    <% for(const product of products) { %>
    <tr>
      <td><a href="/products/<%= product.id %>"><%= product.id %></a></td>
      <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
      <td><a href="/products/<%= product.id %>">$<%= product.price.toFixed(2) %></a></td>
      <td><a href="/products/<%= product.id %>"><%= product.stock_quantity %></a></td>
      <td><a href="/products/<%= product.id %>"><%= product.category_name %></a></td>
    </tr>
    <% } %>
  </table>
</main>
